USE [QuanLyNhaSach]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhPhanTramGiamGiaVIP]    Script Date: 12/12/2025 01:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_TinhPhanTramGiamGiaVIP](@MaKH NVARCHAR(10))
RETURNS DECIMAL(5,2)
AS
BEGIN
    DECLARE @PhanTramGiamGia DECIMAL(5,2) = 0;
    DECLARE @DiemTichLuy INT;
    DECLARE @ChiTieu DECIMAL(18,2);
    
    SELECT @DiemTichLuy = DiemTichLuy, @ChiTieu = ChiTieu
    FROM TheVIP
    WHERE MaKH = @MaKH AND TrangThai = 1 AND NgayHetHan >= GETDATE();
    
    IF @DiemTichLuy IS NOT NULL
    BEGIN
        -- Platinum: 1000+ points OR 10M+ spending
        IF @DiemTichLuy >= 1000 OR @ChiTieu >= 10000000
            SET @PhanTramGiamGia = 15;
        -- Gold: 500+ points OR 5M+ spending
        ELSE IF @DiemTichLuy >= 500 OR @ChiTieu >= 5000000
            SET @PhanTramGiamGia = 10;
        -- Silver: VIP members
        ELSE
            SET @PhanTramGiamGia = 5;
    END
    
    RETURN @PhanTramGiamGia;
END
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 12/12/2025 01:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[MaLog] [nvarchar](50) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[HanhDong] [nvarchar](200) NULL,
	[ThoiGian] [datetime] NOT NULL,
	[ChiTiet] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChietKhau]    Script Date: 12/12/2025 01:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChietKhau](
	[MaChietKhau] [char](10) NOT NULL,
	[TenChietKhau] [nvarchar](100) NOT NULL,
	[TyLeChietKhau] [decimal](5, 2) NOT NULL,
	[TuNgay] [date] NOT NULL,
	[DenNgay] [date] NULL,
	[GhiChu] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChietKhau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 12/12/2025 01:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[SoHD] [char](10) NOT NULL,
	[MaSach] [char](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGiaBan] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SoHD] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 12/12/2025 01:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[SoPN] [char](10) NOT NULL,
	[MaSach] [char](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGiaNhap] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SoPN] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongNo]    Script Date: 12/12/2025 01:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongNo](
	[MaCongNo] [char](10) NOT NULL,
	[MaKH] [char](10) NOT NULL,
	[SoHD] [char](10) NULL,
	[TongNo] [decimal](18, 2) NOT NULL,
	[DaThanhToan] [decimal](18, 2) NOT NULL,
	[ConNo] [decimal](18, 2) NOT NULL,
	[NgayPhatSinh] [date] NOT NULL,
	[NgayDuPhaiTra] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCongNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_ManHinh]    Script Date: 12/12/2025 01:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_ManHinh](
	[MaManHinh] [nvarchar](50) NOT NULL,
	[TenManHinh] [nvarchar](100) NOT NULL,
	[LoaiChucNang] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaManHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 12/12/2025 01:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[SoHD] [char](10) NOT NULL,
	[NgayBan] [date] NOT NULL,
	[MaNV] [char](10) NOT NULL,
	[MaKH] [char](10) NULL,
	[GhiChu] [nvarchar](200) NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[ChietKhau] [decimal](18, 2) NOT NULL,
	[ThanhTien] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[MaChietKhau] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[SoHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon_ChietKhau]    Script Date: 12/12/2025 01:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon_ChietKhau](
	[SoHD] [char](10) NOT NULL,
	[MaChietKhau] [char](10) NOT NULL,
	[NgayApDung] [date] NOT NULL,
	[SoTienGiam] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SoHD] ASC,
	[MaChietKhau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/12/2025 01:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [char](10) NOT NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[DienThoai] [varchar](20) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[LoaiKH] [nvarchar](50) NULL,
	[NgayTaoTK] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuGiaSach]    Script Date: 12/12/2025 01:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuGiaSach](
	[MaLichSu] [char](10) NOT NULL,
	[MaSach] [char](10) NOT NULL,
	[GiaCu] [decimal](18, 2) NULL,
	[GiaMoi] [decimal](18, 2) NOT NULL,
	[NgayThayDoi] [date] NOT NULL,
	[NguoiThayDoi] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLichSu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/12/2025 01:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [char](10) NOT NULL,
	[TenNV] [nvarchar](100) NOT NULL,
	[GioiTinh] [bit] NULL,
	[DienThoai] [varchar](20) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[ChucVu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaXuatBan]    Script Date: 12/12/2025 01:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaXuatBan](
	[MaNXB] [char](5) NOT NULL,
	[TenNXB] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[DienThoai] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 12/12/2025 01:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[SoPN] [char](10) NOT NULL,
	[NgayNhap] [date] NOT NULL,
	[MaNV] [char](10) NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SoPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 12/12/2025 01:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[MaRole] [nvarchar](20) NOT NULL,
	[MaManHinh] [nvarchar](50) NOT NULL,
	[CoQuyen] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaRole] ASC,
	[MaManHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 12/12/2025 01:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[MaRole] [nvarchar](20) NOT NULL,
	[TenRole] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 12/12/2025 01:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [char](10) NOT NULL,
	[TenSach] [nvarchar](200) NOT NULL,
	[MaTheLoai] [char](5) NOT NULL,
	[MaNXB] [char](5) NOT NULL,
	[TacGia] [nvarchar](100) NULL,
	[DonGiaNhap] [decimal](18, 2) NOT NULL,
	[DonGiaBan] [decimal](18, 2) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/12/2025 01:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[MaNV] [char](10) NOT NULL,
	[Quyen] [nvarchar](50) NULL,
	[MaRole] [nvarchar](20) NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 12/12/2025 01:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaTheLoai] [char](5) NOT NULL,
	[TenTheLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheVIP]    Script Date: 12/12/2025 01:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheVIP](
	[MaTheVIP] [char](10) NOT NULL,
	[MaKH] [char](10) NOT NULL,
	[NgayCapPhat] [date] NOT NULL,
	[NgayHetHan] [date] NULL,
	[DiemTichLuy] [int] NOT NULL,
	[ChiTieu] [decimal](18, 2) NOT NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTheVIP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AuditLog] ([MaLog], [TenDangNhap], [HanhDong], [ThoiGian], [ChiTiet]) VALUES (N'013e2e68-09d8-48ac-b324-a6b2b1c4a5cb', N'admin', N'Đăng nhập thành công', CAST(N'2025-12-12T01:05:01.733' AS DateTime), N'Role: Quản trị viên, Nhân viên: Lê Văn C')
INSERT [dbo].[AuditLog] ([MaLog], [TenDangNhap], [HanhDong], [ThoiGian], [ChiTiet]) VALUES (N'02f0aa0c-9f99-4349-8c96-41b70fded07f', N'admin', N'Truy cập: Quản lý Nhập Hàng', CAST(N'2025-12-10T05:03:01.140' AS DateTime), N'Mã màn hình: SF005')
INSERT [dbo].[AuditLog] ([MaLog], [TenDangNhap], [HanhDong], [ThoiGian], [ChiTiet]) VALUES (N'031e55d0-9ad3-49b6-994c-397d16537309', N'admin', N'Truy cập: Thống Kê/Báo Cáo', CAST(N'2025-12-09T18:59:33.203' AS DateTime), N'Mã màn hình: SF007')
GO
INSERT [dbo].[ChietKhau] ([MaChietKhau], [TenChietKhau], [TyLeChietKhau], [TuNgay], [DenNgay], [GhiChu]) VALUES (N'CK001     ', N'Không giảm giá', CAST(0.00 AS Decimal(5, 2)), CAST(N'2025-12-09' AS Date), NULL, N'Giá bán thường')
INSERT [dbo].[ChietKhau] ([MaChietKhau], [TenChietKhau], [TyLeChietKhau], [TuNgay], [DenNgay], [GhiChu]) VALUES (N'CK002     ', N'Giảm 5% - Khuyến mại', CAST(5.00 AS Decimal(5, 2)), CAST(N'2025-12-09' AS Date), CAST(N'2026-01-08' AS Date), N'Khuyến mại tháng 12')
INSERT [dbo].[ChietKhau] ([MaChietKhau], [TenChietKhau], [TyLeChietKhau], [TuNgay], [DenNgay], [GhiChu]) VALUES (N'CK003     ', N'Giảm 10% - Mua nhiều', CAST(10.00 AS Decimal(5, 2)), CAST(N'2025-12-09' AS Date), CAST(N'2026-01-08' AS Date), N'Áp dụng khi mua từ 5 cuốn')
GO
INSERT [dbo].[ChiTietHoaDon] ([SoHD], [MaSach], [SoLuong], [DonGiaBan]) VALUES (N'HD001     ', N'S001      ', 2, CAST(120000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([SoHD], [MaSach], [SoLuong], [DonGiaBan]) VALUES (N'HD001     ', N'S003      ', 1, CAST(250000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[ChiTietPhieuNhap] ([SoPN], [MaSach], [SoLuong], [DonGiaNhap]) VALUES (N'PN001     ', N'S001      ', 20, CAST(50000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietPhieuNhap] ([SoPN], [MaSach], [SoLuong], [DonGiaNhap]) VALUES (N'PN001     ', N'S002      ', 10, CAST(80000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[DM_ManHinh] ([MaManHinh], [TenManHinh], [LoaiChucNang]) VALUES (N'SF001', N'Quản lý sách', N'QuanLy')
INSERT [dbo].[DM_ManHinh] ([MaManHinh], [TenManHinh], [LoaiChucNang]) VALUES (N'SF002', N'Quản lý nhà xuất bản', N'QuanLy')
INSERT [dbo].[DM_ManHinh] ([MaManHinh], [TenManHinh], [LoaiChucNang]) VALUES (N'SF003', N'Quản lý khách hàng', N'QuanLy')
GO
INSERT [dbo].[HoaDon] ([SoHD], [NgayBan], [MaNV], [MaKH], [GhiChu], [TongTien], [ChietKhau], [ThanhTien], [TrangThai], [MaChietKhau]) VALUES (N'HD001     ', CAST(N'2025-12-02' AS Date), N'NV002     ', N'KH001     ', N'Bán hàng bình thường', CAST(490000.00 AS Decimal(18, 2)), CAST(24500.00 AS Decimal(18, 2)), CAST(465500.00 AS Decimal(18, 2)), N'Dang_Lap', N'CK002     ')
GO
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DienThoai], [DiaChi], [LoaiKH], [NgayTaoTK]) VALUES (N'KH001     ', N'Nguyễn Văn A', N'0901234567', N'Hà Nội', N'VIP', CAST(N'2025-12-08' AS Date))
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DienThoai], [DiaChi], [LoaiKH], [NgayTaoTK]) VALUES (N'KH002     ', N'Trần Thị B', N'0987654321', N'TP.HCM', N'VIP', CAST(N'2025-12-08' AS Date))
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [DienThoai], [DiaChi], [ChucVu]) VALUES (N'NV001     ', N'Lê Văn C', 1, N'0912345678', N'Hà Nội', N'Quản lý')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [DienThoai], [DiaChi], [ChucVu]) VALUES (N'NV002     ', N'Phạm Thị A', 0, N'0923456789', N'TP.HCM', N'Nhân viên bán hàng')
GO
INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [DiaChi], [DienThoai]) VALUES (N'NXB01', N'NXB Trẻ', N'Hà Nội', N'024-1234567')
INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [DiaChi], [DienThoai]) VALUES (N'NXB02', N'NXB Kim Đồng', N'TP.HCM', N'028-7654321')
GO
INSERT [dbo].[PhieuNhap] ([SoPN], [NgayNhap], [MaNV], [GhiChu], [TrangThai]) VALUES (N'PN001     ', CAST(N'2025-12-01' AS Date), N'NV001     ', N'Nhập sách lần 1', N'Dang_Nhap')
GO
INSERT [dbo].[Quyen] ([MaRole], [MaManHinh], [CoQuyen]) VALUES (N'ADMIN', N'SF001', 1)
INSERT [dbo].[Quyen] ([MaRole], [MaManHinh], [CoQuyen]) VALUES (N'ADMIN', N'SF002', 1)
INSERT [dbo].[Quyen] ([MaRole], [MaManHinh], [CoQuyen]) VALUES (N'ADMIN', N'SF003', 1)
GO
INSERT [dbo].[Role] ([MaRole], [TenRole], [MoTa]) VALUES (N'ADMIN', N'Quản trị viên', N'Có đầy đủ quyền hạn')
INSERT [dbo].[Role] ([MaRole], [TenRole], [MoTa]) VALUES (N'KETOAN', N'Kế toán', N'Xem báo cáo tài chính')
INSERT [dbo].[Role] ([MaRole], [TenRole], [MoTa]) VALUES (N'NHVBH', N'Nhân viên bán hàng', N'Chỉ bán hàng')
GO
INSERT [dbo].[Sach] ([MaSach], [TenSach], [MaTheLoai], [MaNXB], [TacGia], [DonGiaNhap], [DonGiaBan], [SoLuongTon]) VALUES (N'S001      ', N'Đắc Nhân Tâm', N'TL001', N'NXB01', N'Dale Carnegie', CAST(50000.00 AS Decimal(18, 2)), CAST(120000.00 AS Decimal(18, 2)), 10)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [MaTheLoai], [MaNXB], [TacGia], [DonGiaNhap], [DonGiaBan], [SoLuongTon]) VALUES (N'S002      ', N'Lean Startup', N'TL002', N'NXB02', N'Eric Ries', CAST(80000.00 AS Decimal(18, 2)), CAST(180000.00 AS Decimal(18, 2)), 5)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [MaTheLoai], [MaNXB], [TacGia], [DonGiaNhap], [DonGiaBan], [SoLuongTon]) VALUES (N'S003      ', N'Clean Code', N'TL003', N'NXB01', N'Robert Martin', CAST(100000.00 AS Decimal(18, 2)), CAST(250000.00 AS Decimal(18, 2)), 8)
GO
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [MaNV], [Quyen], [MaRole], [TrangThai]) VALUES (N'admin', N'lsrjXOipsCRBeL8o5JZsLOG4OFcjqWprg4hYzdbKCh4=', N'NV001     ', N'Admin', N'ADMIN', 1)
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [MaNV], [Quyen], [MaRole], [TrangThai]) VALUES (N'ketoan', N'123456', N'NV002     ', N'BaoCao', N'KETOAN', 1)
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [MaNV], [Quyen], [MaRole], [TrangThai]) VALUES (N'nhanvien', N'lsrjXOipsCRBeL8o5JZsLOG4OFcjqWprg4hYzdbKCh4=', N'NV002     ', N'User', N'NHVBH', 1)
GO
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (N'TL001', N'Văn học')
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (N'TL002', N'Kinh tế')
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (N'TL003', N'Công nghệ')
GO
INSERT [dbo].[TheVIP] ([MaTheVIP], [MaKH], [NgayCapPhat], [NgayHetHan], [DiemTichLuy], [ChiTieu], [TrangThai]) VALUES (N'TV001     ', N'KH002     ', CAST(N'2025-12-08' AS Date), CAST(N'2026-12-08' AS Date), 500, CAST(5000000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[TheVIP] ([MaTheVIP], [MaKH], [NgayCapPhat], [NgayHetHan], [DiemTichLuy], [ChiTieu], [TrangThai]) VALUES (N'VIP00001  ', N'KH001     ', CAST(N'2025-12-12' AS Date), CAST(N'2026-12-12' AS Date), 100, CAST(500000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[TheVIP] ([MaTheVIP], [MaKH], [NgayCapPhat], [NgayHetHan], [DiemTichLuy], [ChiTieu], [TrangThai]) VALUES (N'VIP00002  ', N'KH002     ', CAST(N'2025-12-12' AS Date), CAST(N'2026-12-12' AS Date), 500, CAST(2000000.00 AS Decimal(18, 2)), 1)
GO
ALTER TABLE [dbo].[AuditLog] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[CongNo] ADD  DEFAULT ((0)) FOR [DaThanhToan]
GO
ALTER TABLE [dbo].[CongNo] ADD  DEFAULT (getdate()) FOR [NgayPhatSinh]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [ChietKhau]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [ThanhTien]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ('Dang_Lap') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HoaDon_ChietKhau] ADD  DEFAULT (getdate()) FOR [NgayApDung]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [NgayTaoTK]
GO
ALTER TABLE [dbo].[LichSuGiaSach] ADD  DEFAULT (getdate()) FOR [NgayThayDoi]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT ('Dang_Nhap') FOR [TrangThai]
GO
ALTER TABLE [dbo].[Quyen] ADD  DEFAULT ((0)) FOR [CoQuyen]
GO
ALTER TABLE [dbo].[Sach] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ('USER') FOR [MaRole]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[TheVIP] ADD  DEFAULT (getdate()) FOR [NgayCapPhat]
GO
ALTER TABLE [dbo].[TheVIP] ADD  DEFAULT ((0)) FOR [DiemTichLuy]
GO
ALTER TABLE [dbo].[TheVIP] ADD  DEFAULT ((0)) FOR [ChiTieu]
GO
ALTER TABLE [dbo].[TheVIP] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[AuditLog]  WITH CHECK ADD  CONSTRAINT [FK_AL_TK] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[TaiKhoan] ([TenDangNhap])
GO
ALTER TABLE [dbo].[AuditLog] CHECK CONSTRAINT [FK_AL_TK]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HD] FOREIGN KEY([SoHD])
REFERENCES [dbo].[HoaDon] ([SoHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_HD]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_Sach]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_PN] FOREIGN KEY([SoPN])
REFERENCES [dbo].[PhieuNhap] ([SoPN])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_CTPN_PN]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_CTPN_Sach]
GO
ALTER TABLE [dbo].[CongNo]  WITH CHECK ADD  CONSTRAINT [FK_CN_HD] FOREIGN KEY([SoHD])
REFERENCES [dbo].[HoaDon] ([SoHD])
GO
ALTER TABLE [dbo].[CongNo] CHECK CONSTRAINT [FK_CN_HD]
GO
ALTER TABLE [dbo].[CongNo]  WITH CHECK ADD  CONSTRAINT [FK_CN_KH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[CongNo] CHECK CONSTRAINT [FK_CN_KH]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HD_ChietKhau] FOREIGN KEY([MaChietKhau])
REFERENCES [dbo].[ChietKhau] ([MaChietKhau])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HD_ChietKhau]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HD_KH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HD_KH]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HD_NV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HD_NV]
GO
ALTER TABLE [dbo].[HoaDon_ChietKhau]  WITH CHECK ADD  CONSTRAINT [FK_HDCK_CK] FOREIGN KEY([MaChietKhau])
REFERENCES [dbo].[ChietKhau] ([MaChietKhau])
GO
ALTER TABLE [dbo].[HoaDon_ChietKhau] CHECK CONSTRAINT [FK_HDCK_CK]
GO
ALTER TABLE [dbo].[HoaDon_ChietKhau]  WITH CHECK ADD  CONSTRAINT [FK_HDCK_HD] FOREIGN KEY([SoHD])
REFERENCES [dbo].[HoaDon] ([SoHD])
GO
ALTER TABLE [dbo].[HoaDon_ChietKhau] CHECK CONSTRAINT [FK_HDCK_HD]
GO
ALTER TABLE [dbo].[LichSuGiaSach]  WITH CHECK ADD  CONSTRAINT [FK_LSG_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[LichSuGiaSach] CHECK CONSTRAINT [FK_LSG_Sach]
GO
ALTER TABLE [dbo].[LichSuGiaSach]  WITH CHECK ADD  CONSTRAINT [FK_LSG_TK] FOREIGN KEY([NguoiThayDoi])
REFERENCES [dbo].[TaiKhoan] ([TenDangNhap])
GO
ALTER TABLE [dbo].[LichSuGiaSach] CHECK CONSTRAINT [FK_LSG_TK]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PN_NV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PN_NV]
GO
ALTER TABLE [dbo].[Quyen]  WITH CHECK ADD  CONSTRAINT [FK_Q_ManHinh] FOREIGN KEY([MaManHinh])
REFERENCES [dbo].[DM_ManHinh] ([MaManHinh])
GO
ALTER TABLE [dbo].[Quyen] CHECK CONSTRAINT [FK_Q_ManHinh]
GO
ALTER TABLE [dbo].[Quyen]  WITH CHECK ADD  CONSTRAINT [FK_Q_Role] FOREIGN KEY([MaRole])
REFERENCES [dbo].[Role] ([MaRole])
GO
ALTER TABLE [dbo].[Quyen] CHECK CONSTRAINT [FK_Q_Role]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_NXB] FOREIGN KEY([MaNXB])
REFERENCES [dbo].[NhaXuatBan] ([MaNXB])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_NXB]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_TheLoai] FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[TheLoai] ([MaTheLoai])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_TheLoai]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TK_NV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TK_NV]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TK_Role] FOREIGN KEY([MaRole])
REFERENCES [dbo].[Role] ([MaRole])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TK_Role]
GO
ALTER TABLE [dbo].[TheVIP]  WITH CHECK ADD  CONSTRAINT [FK_TV_KH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[TheVIP] CHECK CONSTRAINT [FK_TV_KH]
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatChiTieuVIP]    Script Date: 12/12/2025 01:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CapNhatChiTieuVIP]
    @MaKH NVARCHAR(10),
    @SoTienChiTieu DECIMAL(18,2)
AS
BEGIN
    -- Update Chi Tiêu
    UPDATE TheVIP 
    SET ChiTieu = ChiTieu + @SoTienChiTieu,
        DiemTichLuy = DiemTichLuy + CAST(@SoTienChiTieu / 1000 AS INT) -- 1 point per 1000 VND
    WHERE MaKH = @MaKH AND TrangThai = 1;
    
    RETURN @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckQuyen]    Script Date: 12/12/2025 01:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [dbo].[sp_CheckQuyen]
        @TenDangNhap VARCHAR(50),
        @MaManHinh NVARCHAR(50)
    AS
    BEGIN
        SELECT COUNT(*) AS CoQuyen
        FROM TaiKhoan tk
        INNER JOIN Role r ON tk.MaRole = r.MaRole
        INNER JOIN Quyen q ON r.MaRole = q.MaRole
        WHERE tk.TenDangNhap = @TenDangNhap 
          AND q.MaManHinh = @MaManHinh 
          AND q.CoQuyen = 1;
    END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllSach]    Script Date: 12/12/2025 01:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [dbo].[sp_GetAllSach]
    AS
    BEGIN
        SELECT 
            s.MaSach,
            s.TenSach,
            tl.TenTheLoai,
            nxb.TenNXB,
            s.TacGia,
            s.DonGiaNhap,
            s.DonGiaBan,
            s.SoLuongTon
        FROM Sach s
        INNER JOIN TheLoai tl ON s.MaTheLoai = tl.MaTheLoai
        INNER JOIN NhaXuatBan nxb ON s.MaNXB = nxb.MaNXB
        ORDER BY s.MaSach;
    END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetChietKhauHoaDon]    Script Date: 12/12/2025 01:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [dbo].[sp_GetChietKhauHoaDon]
        @SoHD CHAR(10)
    AS
    BEGIN
        SELECT 
            hd.SoHD,
            hd.NgayBan,
            ck.TenChietKhau,
            ck.TyLeChietKhau,
            hd.TongTien,
            hd.ChietKhau AS TienGiam,
            hd.ThanhTien
        FROM HoaDon hd
        LEFT JOIN ChietKhau ck ON hd.MaChietKhau = ck.MaChietKhau
        WHERE hd.SoHD = @SoHD;
    END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetChietKhauHoatDong]    Script Date: 12/12/2025 01:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [dbo].[sp_GetChietKhauHoatDong]
    AS
    BEGIN
        SELECT 
            MaChietKhau,
            TenChietKhau,
            TyLeChietKhau,
            TuNgay,
            DenNgay,
            GhiChu
        FROM ChietKhau
        WHERE TuNgay <= GETDATE() 
          AND (DenNgay IS NULL OR DenNgay >= GETDATE())
        ORDER BY TyLeChietKhau DESC;
    END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDoanhSoThang]    Script Date: 12/12/2025 01:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [dbo].[sp_GetDoanhSoThang]
        @Thang INT,
        @Nam INT
    AS
    BEGIN
        SELECT 
            CONVERT(DATE, hd.NgayBan) as Ngay,
            COUNT(*) AS SoHD,
            SUM(hd.ThanhTien) AS DoanSo
        FROM HoaDon hd
        WHERE MONTH(hd.NgayBan) = @Thang 
          AND YEAR(hd.NgayBan) = @Nam
          AND hd.TrangThai = 'Hoan_Thanh'
        GROUP BY CONVERT(DATE, hd.NgayBan)
        ORDER BY Ngay;
    END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetQuyenByUser]    Script Date: 12/12/2025 01:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [dbo].[sp_GetQuyenByUser]
        @TenDangNhap VARCHAR(50)
    AS
    BEGIN
        SELECT 
            dm.MaManHinh,
            dm.TenManHinh,
            q.CoQuyen
        FROM TaiKhoan tk
        INNER JOIN Role r ON tk.MaRole = r.MaRole
        INNER JOIN Quyen q ON r.MaRole = q.MaRole
        INNER JOIN DM_ManHinh dm ON q.MaManHinh = dm.MaManHinh
        WHERE tk.TenDangNhap = @TenDangNhap AND q.CoQuyen = 1
        ORDER BY dm.MaManHinh;
    END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSachCanh_Bao]    Script Date: 12/12/2025 01:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [dbo].[sp_GetSachCanh_Bao]
    AS
    BEGIN
        SELECT 
            s.MaSach,
            s.TenSach,
            s.SoLuongTon,
            CASE 
                WHEN s.SoLuongTon < 5 THEN 'Sắp hết'
                WHEN s.SoLuongTon < 10 THEN 'Tồn thấp'
                ELSE 'Bình thường'
            END AS TrangThaiTon
        FROM Sach s
        WHERE s.SoLuongTon < 10
        ORDER BY s.SoLuongTon ASC;
    END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTaiKhoanInfo]    Script Date: 12/12/2025 01:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [dbo].[sp_GetTaiKhoanInfo]
        @TenDangNhap VARCHAR(50)
    AS
    BEGIN
        SELECT 
            tk.TenDangNhap,
            nv.MaNV,
            nv.TenNV,
            nv.ChucVu,
            r.TenRole
        FROM TaiKhoan tk
        INNER JOIN NhanVien nv ON tk.MaNV = nv.MaNV
        INNER JOIN Role r ON tk.MaRole = r.MaRole
        WHERE tk.TenDangNhap = @TenDangNhap;
    END
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoMaTheVIPMoi]    Script Date: 12/12/2025 01:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_TaoMaTheVIPMoi]
    @MaTheVIP NVARCHAR(10) OUTPUT
AS
BEGIN
    DECLARE @MaxNumber INT;
    
    SELECT @MaxNumber = ISNULL(MAX(CAST(SUBSTRING(MaTheVIP, 4, 10) AS INT)), 0)
    FROM TheVIP
    WHERE MaTheVIP LIKE 'VIP%';
    
    SET @MaTheVIP = 'VIP' + RIGHT('00000' + CAST(@MaxNumber + 1 AS NVARCHAR), 5);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeChietKhau]    Script Date: 12/12/2025 01:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [dbo].[sp_ThongKeChietKhau]
        @TuNgay DATE,
        @DenNgay DATE
    AS
    BEGIN
        SELECT 
            ck.MaChietKhau,
            ck.TenChietKhau,
            ck.TyLeChietKhau,
            COUNT(hd.SoHD) AS SoLanSuDung,
            SUM(hd.ChietKhau) AS TongTienGiam
        FROM ChietKhau ck
        LEFT JOIN HoaDon hd ON ck.MaChietKhau = hd.MaChietKhau
        WHERE hd.NgayBan BETWEEN @TuNgay AND @DenNgay
           OR (hd.SoHD IS NULL)
        GROUP BY ck.MaChietKhau, ck.TenChietKhau, ck.TyLeChietKhau
        ORDER BY TongTienGiam DESC;
    END
GO
/****** Object:  StoredProcedure [dbo].[sp_TinhCongNo]    Script Date: 12/12/2025 01:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [dbo].[sp_TinhCongNo]
        @MaKH CHAR(10)
    AS
    BEGIN
        SELECT 
            cn.MaCongNo,
            kh.TenKH,
            cn.TongNo,
            cn.DaThanhToan,
            cn.ConNo,
            cn.NgayDuPhaiTra
        FROM CongNo cn
        INNER JOIN KhachHang kh ON cn.MaKH = kh.MaKH
        WHERE cn.MaKH = @MaKH
        ORDER BY cn.NgayPhatSinh DESC;
    END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateTonKho]    Script Date: 12/12/2025 01:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [dbo].[sp_UpdateTonKho]
        @MaSach CHAR(10),
        @SoLuong INT
    AS
    BEGIN
        UPDATE Sach 
        SET SoLuongTon = SoLuongTon - @SoLuong 
        WHERE MaSach = @MaSach;
    END
GO
